@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas:400,700');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  background-image: linear-gradient(0deg, #000045 0%, #000827 100%);
  height: 100vh;
  color: #FFF;
}

.trees {
  position: fixed;
  width: 100%;
  bottom: -100px;
}

h1, h2, h3 {
  text-align: center;
}

.player-card-holder {
  display: flex;
  height: 100vh;

  flex-direction: column;

  justify-content: center;
  align-items: center;

  transition: height 1s;
}

.player-card-holder.active {
  height: 260px;
}

.player-card-holder.active h1 {
  font-size: 80px;
  line-height: 40px;
}

.player-card h1 {
  font-size: 200px;
  line-height: 140px;
  font-weight: normal;
  font-family: 'Mountains of Christmas', Helvetica;

  transition: all 1s;
}

.Ranking {
  opacity: 0;
  text-align: center;
}

.Ranking.active {
  opacity: 1;
}

.Ranking h3 {
  font-size: 42px;
  font-family: 'Mountains of Christmas', Helvetica;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.Ranking ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Indie Flower';
  font-size: 28px;
}

.Ranking ul li {
  margin-bottom: 10px;
}

.Ranking ul li.big {
  display: inline-block;
  margin-right: 30px;
  font-size: 42px;
}

.Ranking ul li span {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
}

.fa.gold { color: #F8E71C }
.fa.silver { color: #F3F3F3 }
.fa.bronze { color: #BF7C0F }

.Game {
  position: fixed;

  padding-top: 50px;

  top: 0;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  opacity: 0;
  transform: translateY(100px);

  transition: all 2s;
}

.Game.active {
  opacity: 1;
  transform: translateY(0);
}

.Game.right h3,
.Game.right ul,
.Game.wrong h3,
.Game.wrong ul  {
  opacity: .3;
}

.Game h3 {
  font-size: 45px;
  padding: 0 30px;
  margin-bottom: 20px;
  font-family: 'Mountains of Christmas';
}

.Game ul {
  list-style: upper-alpha;
}

.Game ul li {
  font-family: Helvetica;
  font-size: 32px;
  margin-bottom: 20px;
  font-family: 'Indie Flower';
}

.Game .score {
  position: absolute;
  bottom: 0;
  right: 0px;
  padding: 10px;

  font-family: 'Mountains of Christmas';
  text-transform: uppercase;
  font-size: 38px;
}

.Game .score strong {
  font-size: 28px;
}


.Game .question-status {
  position: fixed;
  bottom: 0;

  opacity: 0;

  z-index: 2;
}

.Game .gift-box {
  position: absolute;
  bottom: 310px;
  left: 50%;
  margin-left: -127px;

  z-index: 10;
}

.Game .gift-box .gift-top {
  position: absolute;
  background-image: url('./images/gift-top.svg');
  background-size: 100% 100%;
  top: -65px;
  left: 0;
  width: 262px;
  height: 219px;

  transform: rotate(-40deg) translateY(-170px) translateX(-30px);

  z-index: 11;
}

.Game .gift-box .gift-bottom {
  position: absolute;
  background-image: url('./images/gift-bottom.svg');
  background-size: 100% 100%;
  top: 113px;
  left: 3px;
  width: 255px;
  height: 216px;

  z-index: 11;
}

.Game .gift-box .right-question {
  position: absolute;
  bottom: 0;
  z-index: 10;

  font-size: 100px;

  background: #7ED321;
  color: #FFF;
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  padding: 0px 25px;

  font-family: 'Indie Flower';

  opacity: 0;

  transform: translateY(100px) translateX(80px) rotate(-15deg)
}

.Game .gift-box .wrong-question {
  position: absolute;
  bottom: 0;
  z-index: 10;

  font-size: 100px;

  background: #F00;
  color: #FFF;
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  padding: 0px 25px;

  font-family: 'Indie Flower';

  opacity: 0;

  transform: translateY(100px) translateX(80px) rotate(-15deg)
}


.Game .question-status.right,
.Game .question-status.wrong {
  opacity: 1;
}

.Game .question-status.right .gift-top,
.Game .question-status.wrong .gift-top  {
  -webkit-animation: rightQuestionTop 3s ease infinite;
  animation: rightQuestionTop 3s ease infinite;
  animation-iteration-count: 1;
}

.Game .question-status.right .gift-bottom,
.Game .question-status.wrong .gift-bottom {
  -webkit-animation: rightQuestionBottom 3s ease infinite;
  animation: rightQuestionBottom 3s ease infinite;
  animation-iteration-count: 1;
}

.Game .question-status.right .right-question {
  opacity: 1;
  -webkit-animation: rightQuestionText 3s ease infinite;
  animation: rightQuestionText 3s ease infinite;
  animation-iteration-count: 1;
}

.Game .question-status.wrong .wrong-question {
  opacity: 1;
  -webkit-animation: wrongQuestionText 3s ease infinite;
  animation: wrongQuestionText 3s ease infinite;
  animation-iteration-count: 1;
}


@keyframes rightQuestionTop {
  0% { transform: translateY(-1000px) }
  10% { transform: translateY(0) }
  15% { transform: translateY(-30px) }
  20% { transform: translateY(0px) }
  50% { transform: rotate(-40deg) translateY(-170px) translateX(-30px) }
  100% { transform: rotate(-40deg) translateY(-170px) translateX(-30px)  }
}

@keyframes rightQuestionBottom {
  0% { transform: translateY(-1000px) }
  10% { transform: translateY(0) }
  15% { transform: translateY(-30px) }
  20% { transform: translateY(0px) }
  100% { transform: translateY(0px) }
}

@keyframes rightQuestionText {
  0% { transform: translateY(-1000px); opacity: 0; }
  10% { transform: translateY(300px); opacity: 0; }
  25% { transform: translateY(300px) rotate(-60deg); opacity: 0; }
  50% { transform: translateY(120px) translateX(80px) rotate(-15deg); opacity: 1; }
  50% { transform: translateY(100px) translateX(80px) rotate(-15deg); }
  100% { transform: translateY(100px) translateX(80px) rotate(-15deg) }
}

@keyframes wrongQuestionText {
  0% { transform: translateY(-1000px); opacity: 0; }
  10% { transform: translateY(300px); opacity: 0; }
  25% { transform: translateY(300px) rotate(-60deg); opacity: 0; }
  50% { transform: translateY(120px) translateX(80px) rotate(-15deg); opacity: 1; }
  50% { transform: translateY(100px) translateX(80px) rotate(-15deg); }
  100% { transform: translateY(100px) translateX(80px) rotate(-15deg) }
}
